<h1>Create a Team and Heros!</h1>
<form method="post" action="/teams">
  <label>Team Name:</label>
  <input type="text" ><br>
  <label>Team Motto:</label>
  <input type="text">

  <h2>Hero 1</h2>
  <label>Hero's Name:</label>
  <input type="text"><br>
  <label>Hero's Power:</label>
  <input type="text"><br>
  <label>Hero's Biography:</label>
  <input type="text"><br>

  <h2>Hero 1</h2>
  <label>Hero's Name:</label>
  <input type="text"><br>
  <label>Hero's Power:</label>
  <input type="text"><br>
  <label>Hero's Biography:</label>
  <input type="text"><br>

  <h2>Hero 3</h2>
  <label>Hero's Name:</label>
  <input type="text"><br>
  <label>Hero's Power:</label>
  <input type="text"><br>
  <label>Hero's Biography:</label>
  <input type="text"><br><br>

<input type="submit">

</form>
